.black-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha (fourth parameter) for transparency */
    z-index: 1; /* Set a lower z-index to be beneath the positioned element */
}