.navigation { 
    display: flex;

    .items {
        margin:  auto;
        display: flex;
        gap: 1.12rem;
        list-style: none;

        .item {
            color: #7C7C7C; 
            font-size: 1.375rem;
            font-weight: 700;
        }
        
        .active  {
            color: #B4A2FD;
         }
    }
}